.nav {
    background-color: rgba(242, 123, 145, 0.78);
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.taste{
    text-decoration: none;
    color:black;
    font-size: larger;
    margin-left: 2rem;

}

.nav ul li {
    display: inline-block;
}



.nav ul li a {
    color: black;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul li a:active {
    color: rgb(127, 126, 124);
    text-decoration: underline;
}

.nav ul li a:hover {
    color: rgb(88, 87, 86);
    text-decoration: underline;
}